@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,100;1,400;1,600;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --background-color: #381038;
  --background-color-variant: #582c6c;
  --primary-color: #a61edc;
  --primary-color-variant: #760a77;
  --color-white: #fff;
  --light-color: #be7de9;

  --container-width: 75%;
  --container-width-mid: 87.5%;
  --container-width-small: 92%;

  --transition: all 0.5s ease
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--background-color);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(./assets/bgTexture.png);
}

/* GENERAL STYLES */

.container {
  width: var(--container-width);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
}

section {
  margin-top: 7rem;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--light-color)
}

section>h2 {
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.light-text {
  color: var(--light-color);
}

a {
  color: var(--primary-color);
  transition: var(--transition);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--background-color);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--background-color);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}